@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Home Page Estudantes</h1>
    <a href ="../Students/Index">Listagem Estudantes</a>
</div>
<div class="text-center">
    <h1>Home Page Estudantes</h1>
    <a href="../User/Index">Listagem User</a>
</div>